.cambiar-password-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30%; /* Ancho del contenedor */
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}
/* Título del formulario */
.cambiar-password-container h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

/* Descripción del formulario */
.cambiar-password-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

/* Formulario */
.cambiar-password-form {
  width: 90%;
}
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #6bc5d0;
  outline: none;
  box-shadow: 0 0 5px rgba(107, 197, 208, 0.5);
}

/* Botón de envío */
.btn-submit {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #6bc5d0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: #57b3bf;
}
.error-mensage {
  margin-top: 10px;
  color: #d9534f;
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  
}
/* Mensajes de éxito */
.success-message {
  margin-top: 10px;
  color: #155724;
  background-color: #d4edda;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #c3e6cb;
}

/* Indicador de fortaleza de contraseña */
.password-strength {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  background: #e0e0e0; /* Base color */
  margin-top: 5px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.password-strength.weak {
  background-color: #ff4d4d; /* Rojo */
}

.password-strength.medium {
  background-color: #ffc107; /* Amarillo */
}

.password-strength.strong {
  background-color: #28a745; /* Verde */
}

/* Texto de la fortaleza */
.password-strength-text {
  font-size: 12px;
  margin-top: 5px;
  color: #666;
  text-align: right;
}

.password-strength-text.weak {
  color: #ff4d4d;
}

.password-strength-text.medium {
  color: #ffc107;
}

.password-strength-text.strong {
  color: #28a745;
}